{% load i18n %}
<div class="modal fade" id="exampleModal{{doctor.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'patient_new:make_appointment' doctor_id=doctor.id%}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" class="form-control" id="recipient-name" value="{{doctor.first_name}}"
                               readonly>
                    </div>

                    <div class="form-group">
                        <label for="time{{doctor.id}}" class="col-form-label">time</label>

                        <div class='input-group date' id='datetimepicker1{{doctor.id}}'>

                            <input id="time{{doctor.id}}" name="time" type='text' class="form-control"/>
                            <span class="input-group-addon">
                               <span class="glyphicon glyphicon-calendar"></span>
                               </span>
                        </div>
                    </div>
                    <script type="text/javascript">
                             $(function () {
             $('#datetimepicker1{{doctor.id}}').datetimepicker();
         });




                    </script>


                    <div class="form-group">
                        <label for="message-text{{doctor.id}}" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text{{doctor.id}}"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Save">

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="card visit-card" style="width: auto;">
    <div class="card-body">
        <h2 class="card-title">{{doctor.role}} {{ doctor.first_name }} {{doctor.last_name}}</h2>
        <p class="card-text"></p>
                <p class="card-text"></p>
        <p class="card-text"></p>

        <button type="button"  class="btn btn-success" data-toggle="modal" data-target="#exampleModal{{doctor.id}}"
                data-whatever="@mdo">make a new appointment
        </button>
    </div>
</div>
