<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description"
          content="Kooh is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content=""/> <!-- website name -->
    <meta property="og:site" content=""/> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content=""/> <!-- description shown in the actual shared post -->
    <meta property="og:image" content=""/> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content=""/> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article"/>

    <!-- Website Title -->
    <title>Kooh - Business HTML Landing Page Template</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
          rel="stylesheet">
    <link href="{% static 'css//bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'css//fontawesome-all.css'%}" rel="stylesheet">
    <link href="{% static 'css//swiper.css'%}" rel="stylesheet">
    <link href="{% static 'css//magnific-popup.css'%}" rel="stylesheet">
    <link href="{% static 'css//styles.css'%}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{%static 'images/favicon.png'%}">
</head>
<body data-spy="scroll" data-target=".fixed-top">

<!-- Preloader -->
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<!-- end of preloader -->


<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container" dir="rtl">
                        <h1>خدمات <span id="js-rotating" dir="rtl">پزشکی, دارویی, ...</span></h1>
                        <p class="p-heading p-large" dir="rtl">می تونید تمام خدمات پزشکی مورد نیازتون رو اینجا پیدا کنید:)</p>
                        <a class="btn-solid-lg page-scroll" href="{% url 'doctor:login' %}">پنل درکتر</a>
                        <a class="btn-solid-lg page-scroll" href="{% url 'patient_new:login' %}">پنل بیمار</a>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->


<!-- Contact -->
<div id="contact" class="form-2" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container" dir="rtl" style="text-align: right">
                    <div class="section-title">تماس با ما</div>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>ادرس دفتر ما .... نداریم بیا کوه:)
                        </li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+98 123 456 78 90</a></li>
                        <li><i class="fas fa-phone"></i><a href="tel:003024630820">+98 123 456 78 90</a></li>
                        <li><i class="fas fa-envelope"></i><a href="mailto:office@Kooh.com">kooh@gmail.com</a></li>
                    </ul>
                    <div>
                    <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-pinterest fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-behance fa-stack-1x"></i>
                            </a>
                        </span>
                    </div>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Template by Inovatik</a></p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->


<!-- Scripts -->
<script src="{%static 'js/jquery.min.js'%}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script src="{%static 'js/popper.min.js'%}"></script> <!-- Popper tooltip library for Bootstrap -->
<script src="{%static 'js/bootstrap.min.js'%}"></script> <!-- Bootstrap framework -->
<script src="{%static 'js/jquery.easing.min.js'%}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
<script src="{%static 'js/swiper.min.js'%}"></script> <!-- Swiper for image and text sliders -->
<script src="{%static 'js/jquery.magnific-popup.js'%}"></script> <!-- Magnific Popup for lightboxes -->
<script src="{%static 'js/morphext.min.js'%}"></script> <!-- Morphtext rotating text in the header -->
<script src="{%static 'js/isotope.pkgd.min.js'%}"></script> <!-- Isotope for filter -->
<script src="{%static 'js/validator.min.js'%}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
<script src="{%static 'js/scripts.js'%}"></script> <!-- Custom scripts -->
</body>
</html>