{% extends 'base-menuless.html' %}

{% load static %}
{% load i18n %}

{% block menu %}
<div style="padding: 50 50 50">
    <h5>*\ Hello Doctor /*</h5>
</div>

{% if user.is_authenticated %}
<div class="navbar menu-item">
    <a href="{% url 'doctor:visit-request-list' %}" class="btn btn-link text-menuitem">
        {% trans "Visit Requests" %}
    </a>
</div>
{% endif %}
{% if user.is_authenticated %}
<hr class="sidebar-hr"/>
<div class="navbar menu-item">
    <a href="{% url 'doctor:logout' %}" class="btn btn-link text-menuitem">
        {% trans "logout" %} ({{ user.username }})
    </a>
</div>
{% else %}
<hr class="sidebar-hr"/>
<div class="navbar menu-item">
    <a href="{% url 'doctor:login' %}" class="btn btn-link text-menuitem">
        {% trans "login" %}
    </a>
</div>
<hr class="sidebar-hr"/>
<div class="navbar menu-item">
    <a href="{% url 'doctor:signup' %}" class="btn btn-link text-menuitem">
        {% trans "register" %}
    </a>
</div>
{% endif %}

{% endblock %}
